.listado {
    display: grid;
    gap: 4rem;
    margin: 5rem 8rem;
}

@media (min-width:768px) {
    .listado {
        grid-template-columns: repeat(2,1fr);
        margin: 5rem 0;
    }
}
@media (min-width:992px) {
    .listado {
        grid-template-columns: repeat(3,1fr);
    }
}

.producto {
    text-align: center;
}
.producto img {
    transition: transform .3s ease;
}
.producto img:hover {
    transform: scale(1.5);
}
.producto h3 {
    font-size: 1.5rem;
    margin: 0;
}
.precio {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}