@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --primary: #1E1E1E;
  --secondary: #76F4F0;
  --gris: #e4e4e4;
  --blanco: #FFF;
  --main-font: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--main-font);
  line-height: 1.5;
}
img {
  max-width: 100%;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

h2, h3, p {
  color: var(--primary);
}

@media (min-width:768px) {
  h2 {
    font-size: 5.2rem;
  }
}

a {
  text-decoration: none;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

/*Scroll con el menú móvil*/
.noScroll {
     overflow-y: hidden;
}
.noScrollCart {
  overflow-y: hidden !important;
}

@media (min-width:768px) {
  .noScroll {
    overflow-y: scroll;
  }
}