@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --primary: #1E1E1E;
  --secondary: #76F4F0;
  --blanco: #FFF;
  --main-font: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--main-font);
  line-height: 1.5;
}
img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}