.fondoimagen {
    position: relative;
    width: 100%;
    height: 40rem;
}

.fondoSinImagen {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    color: var(--blanco);
}

@media (min-width:768px) {
    .fondoimagen {
        height: 80rem;
    }
}
.fondoContenido {
     background-color: rgba(30, 30, 30, 0.5);
    color: var(--blanco);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contenido {
    margin-bottom: 22%;
}

.contenido h1 {
    font-size: 3.6rem;
    margin: 0 0 .5rem 0;
    line-height: 1;
}
@media (min-width:768px) {
    .contenido h1 {
        font-size: 6.4rem;
    }
}
.contenido h2 {
    
    font-size: 3rem;
    margin: 0 0 .5rem 0;
    color: var(--secondary)
}
@media (min-width:768px) {
    .contenido h2 {
        font-size: 5.2rem;
    }
}
.contenido p {
    font-size: 2rem;
    margin: 0;
    max-width: 30rem;
    margin: 0 auto;
    line-height: 1.2;
    color: var(--blanco);
}
@media (min-width:768px) {
    .contenido p {
        font-size: 3rem;
        max-width: 40rem;
        
    }
}
